body {
    background-size: cover;
    background: url('../svg/admin-background.jpg') center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgba(234, 235, 235, 0.7);
    padding: 10px 10px 10px 10px;
    margin-top: 8vh;
    width: 280px;

}

h3 {
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0 0 0 0;
}

