#content {
  text-align: center;
  margin-top: 17%;
  color: #f2f2f2;
  font-family: serif;
}

div h1 {
  font-weight: bolder;
}

div h3 {
  margin-top: 10px
}

body {
  background-size: cover;
  background: url('../svg/road_background.jpg') center;
  min-height: 100vh;
}
