
h1{
    color: whitesmoke;
}
.left{

    margin-left: 15%;

    float:left;
    width: 30%;
    overflow:hidden;

}
.right{
    margin-left: 10%;
    float:left;
    width: 30%;
    overflow:hidden;
}

body {
    background-size:cover;
    background: url('../svg/background.jpg') center;
}

.li {
    color:whitesmoke;
    background: rgba(0,0,0,0.4);
}
.show {
    margin-left: 10%;
    margin-right: 10%;
}
.well {
    color:whitesmoke;
    background: rgba(0,0,0,0.4);
}

#gobackbutton{
    float:left;
    margin-right: 10px;
}
