.profilePicture {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.profileHeader {
    max-width: 700px;
}

.profileButton {
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
}

body {
    background-size:cover;
    background: url('../svg/background.jpg') center;
}

.container{
    margin-top: 50px;
    padding: 25px;
    color: white;
    background: rgba(0,0,0,0.4);
}